In [1]:
from ipywidgets import interact
import ipywidgets as widgets

In [2]:
def f(x):
    return x# Generate a slider 
interact(f, x=10,);

interactive(children=(IntSlider(value=10, description='x', max=30, min=-10), Output()), _dom_classes=('widget-…

In [3]:
# Booleans generate check-boxes
interact(f, x=True);

interactive(children=(Checkbox(value=True, description='x'), Output()), _dom_classes=('widget-interact',))

In [4]:
# Strings generate text areas
interact(f, x='Hi there!');

interactive(children=(Text(value='Hi there!', description='x'), Output()), _dom_classes=('widget-interact',))

In [5]:
play = widgets.Play(
    # interval=10,
    value=50,
    min=0,
    max=100,
    step=1,
    description="Press play",
    disabled=False
)
slider = widgets.IntSlider()
widgets.jslink((play, 'value'), (slider, 'value'))
widgets.HBox([play, slider])

HBox(children=(Play(value=50, description='Press play'), IntSlider(value=0)))

In [6]:
widgets.DatePicker(
    description='Pick a Date',
    disabled=False
)

DatePicker(value=None, description='Pick a Date')

In [7]:
widgets.ColorPicker(
    concise=False,
    description='Pick a color',
    value='blue',
    disabled=False
)

ColorPicker(value='blue', description='Pick a color')

In [8]:
tab_contents = ['P0', 'P1', 'P2', 'P3', 'P4']
children = [widgets.Text(description=name) for name in tab_contents]
tab = widgets.Tab()
tab.children = children
for i in range(len(children)):
    tab.set_title(i, str(i))
tab

Tab(children=(Text(value='', description='P0'), Text(value='', description='P1'), Text(value='', description='…

In [9]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv('https://data.cityofnewyork.us/resource/h9gi-nx95.csv')
df.head()

,date,time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,unique_key,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2018-11-19T00:00:00.000,14:20,NaN,NaN,40.685806,-73.80728,"(40.685806, -73.80728)",VAN WYCK EXPWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4029022,Sedan,Dump,NaN,NaN,NaN
1,2018-12-09T00:00:00.000,9:48,QUEENS,11362.0,40.756992,-73.72966,"(40.756992, -73.72966)",MARATHON PARKWAY,61 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4041190,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2,2018-11-29T00:00:00.000,22:00,QUEENS,11369.0,40.767467,-73.88187,"(40.767467, -73.88187)",88 STREET,23 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4035239,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2018-11-02T00:00:00.000,17:16,NaN,NaN,NaN,NaN,NaN,LONG ISLAND EXPRESSWAY,KISSENA BOULEVARD,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4016550,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2018-12-11T00:00:00.000,16:50,BROOKLYN,11210.0,40.628647,-73.95207,"(40.628647, -73.95207)",BEDFORD AVENUE,AVENUE I,NaN,...,Unspecified,NaN,NaN,NaN,4042728,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN

In [15]:
import qgrid
qgrid_widget = qgrid.show_grid(df, show_toolbar = True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [17]:
qgrid_widget.get_changed_df()

,date,time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,unique_key,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
140,2018-11-03T00:00:00.000,0:00,NaN,NaN,40.685760,-73.915504,"(40.68576, -73.915504)",BROADWAY,HALSEY STREET,NaN,...,Unspecified,NaN,NaN,NaN,4014368,Sedan,Sedan,NaN,NaN,NaN
684,2018-11-21T00:00:00.000,0:00,BRONX,10457.0,40.844970,-73.902470,"(40.84497, -73.90247)",WEBSTER AVENUE,ITTNER PLACE,NaN,...,Unspecified,NaN,NaN,NaN,4030478,Sedan,Taxi,NaN,NaN,NaN
519,2018-11-10T00:00:00.000,0:00,BROOKLYN,11210.0,40.638397,-73.945330,"(40.638397, -73.94533)",NaN,NaN,1403 NEW YORK AVENUE,...,NaN,NaN,NaN,NaN,4020170,Pick-up Truck,NaN,NaN,NaN,NaN
515,2018-11-28T00:00:00.000,0:00,BROOKLYN,11217.0,40.679745,-73.986970,"(40.679745, -73.98697)",NEVINS STREET,SACKETT STREET,NaN,...,Unspecified,NaN,NaN,NaN,4034238,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
785,2018-12-11T00:00:00.000,0:00,NaN,NaN,40.814580,-73.947950,"(40.81458, -73.94795)",WEST 132 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4042608,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,2018-12-03T00:00:00.000,9:47,QUEENS,11101.0,40.744960,-73.935425,"(40.74496, -73.935425)",THOMSON AVENUE,31 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4037255,Taxi,Taxi,NaN,NaN,NaN
1,2018-12-09T00:00:00.000,9:48,QUEENS,11362.0,40.756992,-73.729660,"(40.756992, -73.72966)",MARATHON PARKWAY,61 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4041190,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
776,2018-11-13T00:00:00.000,9:50,MANHATTAN,10018.0,40.759514,-73.999260,"(40.759514, -73.99926)",11 AVENUE,WEST 40 STREET,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4029634,Box Truck,Box Truck,NaN,NaN,NaN
118,2018-11-20T00:00:00.000,9:53,MANHATTAN,10014.0,40.735302,-74.009940,"(40.735302, -74.00994)",WEST STREET,WEST 11 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4029610,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
76,2018-12-06T00:00:00.000,9:57,MANHATTAN,10035.0,40.804375,-73.937420,"(40.804375, -73.93742)",EAST 125 STREET,LEXINGTON AVENUE,NaN,...,NaN,NaN,NaN,NaN,4039423,Sedan,NaN,NaN,NaN,NaN